<html lang='en' data-theme='dark'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <title>Resuming</title>
    <link rel='icon' href='/static/favicon.ico' />

    <link rel='stylesheet' href='/static/vendor/bulma.min.css' />
    <link rel='stylesheet' href='/static/css/style.css' />
    <script defer src='/static/vendor/fontawesome.min.js'></script>
  </head>

  <body>
    <section class='hero is-fullheight'>
      <div
        class='hero-body is-flex is-flex-direction-column is-justify-content-center'
      >
        <div>
          <figure class='image is-32x32 mb-3'>
            <img
              class='is-rounded'
              src='/static/img/_logo.png'
              alt='Resuming'
            />
          </figure>

          <h1 class='title is-5 is-uppercase mb-2'>404 Not Found</h1>

          <span>
            Lost?
            <a class='has-text-weight-medium' href='/'>
              <span class='icon-text'>
                <span>Navigate back to start</span>
                <span class='icon'>
                  <i class='fas fa-arrow-up-right-from-square'></i>
                </span>
              </span>
            </a>
          </span>
        </div>
      </div>
    </section>
  </body>
</html>