:root {
  --bulma-primary-h: 203deg;
  --bulma-primary-s: 79%;
  --bulma-primary-l: 57%;
  --bulma-link-h: 204deg;
  --bulma-link-s: 76%;
  --bulma-link-l: 37%;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

.image.is-12x12 {
  width: 12px;
  height: 12px;
}

.image.is-max-width-128 {
  width: 100%;
  max-width: 128px;
}

.image.is-max-width-256 {
  width: 100%;
  max-width: 256px;
}

.is-border-0 {
  border: 0 !important;
}

.is-bottom-0 {
  bottom: 0;
}

.is-right-0 {
  right: 0;
}

.is-size-8 {
  font-size: 0.6rem;
}

.is-z-index-1 {
  z-index: 1;
}

.animate__delay-250ms {
  animation-delay: 250ms;
}

.animate__delay-500ms {
  animation-delay: 500ms;
}

.animate__delay-750ms {
  animation-delay: 750ms;
}

.animate__delay-1250ms {
  animation-delay: 1250ms;
}

.animate__delay-1500ms {
  animation-delay: 1500ms;
}
